.font-style {
    font-family: 'Oswald', sans-serif;
}

.first-section {
    background-image: url(donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0%;



}

.first-heading {
    padding-top: 50px;
    font-size: 100px;
    text-align: center;
    color: white;
}

.first-paragraph {
    text-align: center;
    color: white;
    font-size: 20px;
}

.first-button {
    height: 45px;
    width: 130px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    color: white;
    background-color: rgb(214, 54, 54);
    border: 0ch;


}

.second-section {
    text-align: center;
    margin-top: 30px;
    width: auto;
}

.amount-flex {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    color: gray;
    padding-bottom: 30px;



}



.anchor {
    padding: 50px;
}

#plan {
    margin-top: 50px;
    text-align: center;
}

.third-section {
    display: flex;
    justify-content: space-evenly;
}

.border {
    border: 1px solid;
    padding: 10px;
    text-align: left;
    margin-bottom: 50px;
}

#back-color {
    background-color: rgb(44, 151, 115);
}

#back-color-second {
    background-color: rgb(182, 149, 100);
}

#back-color-third {
    background-color: rgb(170, 165, 99);
}

.section-four {
    display: flex;
}

.flex-w {
    width: 50%;
    padding: 10px;
}

.last {
    text-align: center;
    padding-bottom: 80px;
}

#fotter {
    text-align: center;
    padding: 10px;
    background-color: rgb(12, 12, 12);
    height: 100px;

}

#footer-h-color {
    color: red;
}

#footer-p {
    color: white;
}